.header {
  height: 14vh;
  background-color: #24292f;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 16px;
}

.img {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #4444;
  width: 16%;
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 40vh;
  padding: auto;
}

button {
  margin: 20px;
  padding: 5px;
  border: none;
  background-color: #2da44e;
  border-radius: 10px;
  font-size: 20px;
  color: #ffff;
}

button:hover {
  cursor: pointer;
}

h3 {
  color: #fff;
}

.section {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 100%;
}

.cards {
  display: inline;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px;
  align-items: center;
  border: none;
}

.card {
  display: flex;
  width: 100%;
  text-align: center;
  border: none;
}
