<div ngClass="header">
  <h3>Repository-search works :)</h3>
</div>

<div ngClass="container">
  <div class="section">
    <label>String de busca</label>
    <input class="select" (keyup)="onKeyInput($event)" />
  </div>
  <div class="section">
    <label>Escolha a modalidade de busca</label>
    <select [(ngModel)]="modality" class="select">
      <option default value="repositories">Repositorio</option>
      <option value="commits">commits</option>
      <option value="code">code</option>
      <option value="issues">issues</option>
      <option value="pull-request">pull request</option>
      <option value="labels">labels</option>
      <option value="topics">topics</option>
      <option value="users">user</option>
    </select>
  </div>
  <button (click)="showJavaRepository()">teste</button>
</div>
