<div ngClass="header">
  <img src="../../assets/github.png" class="img">
  <h3>Welcome to Search project</h3>
</div>

<div ngClass="container">
  <div *ngIf="modality !== 'labels'" class="section">
    <label>Search String</label>
    <input class="select" (keyup)="onInputSearchString($event)" />
  </div>
  <div class="section">
    <label *ngIf="modality == 'labels'">Repository Id</label>
    <label *ngIf="modality == 'code'">Username</label>
    <input
      class="select"
      *ngIf="modality == 'code'"
      (keyup)="onInputUserLogin($event)"
    />
    <input
      class="select"
      *ngIf="modality == 'labels'"
      (keyup)="onInputRepositoryId($event)"
    />
  </div>
  <div class="section">
    <label>Choose the modality search</label>
    <select [(ngModel)]="modality" class="select">
      <option default value="repositories">Repositorio</option>
      <option value="commits">commits</option>
      <option value="code">code</option>
      <option value="issues">issues</option>
      <option value="labels">labels & pull requests</option>
      <option value="topics">topics</option>
      <option value="users">user</option>
    </select>
  </div>
  <button (click)="getCollectionsGitHubApi()" [disabled]="disableButton()">
    Start search
  </button>

  <div class="cards-container">
    <div class="cards">
      <div *ngFor="let groups of items" class="card">
        <div *ngFor="let item of groups">
          <app-card-info [info]="item"></app-card-info>
        </div>
      </div>
    </div>
  </div>
</div>
